body {
    font-family: sans-serif;
    background: brown;
    text-align: center;
    padding-top: 40px;
  }
  
  .container {
    background: pink;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
  }
  
  input, textarea {
    width: 90%;
    margin: 10px 0;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background: royalblue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: navy;
  }
  
